:root{
	--flow-color: dimgray;
	--non-semantic-color: gray;
	--sectioning-color: royalblue;
	--text-color: black;
	--media-color: greenyellow;
	--interactive-color: yellow;
	--embedded-color: blue;
	--tables-color: coral;
	--deprecated-color: red;
	--pseudoelements-color: orchid;
}

/* Flow elemnts */

body * {
	box-sizing: border-box;
	border: 1px dotted var(--flow-color);
}

/* Non-semantic elements */
body div, body span{
	border: 1px solid var(--non-semantic-color);
}

/* Sectioning elements */
body article,
body aside,
body details,
body dialog,
body fieldset,
body figure,
body footer,
body form,
body header,
body hgroup,
body main,
body menu,
body nav,
body noscript,
body output,
body search,
body section,
body summary,
body meter,
body progress{
	border: 1px solid var(--sectioning-color);
}

/* Phrasing elements, text-related elements */
body abbr,
body address,
body b,
body bdi,
body bdo,
body blockquote,
body br,
body cite,
body code,
body data,
body dd,
body del,
body dfn,
body dl,
body dt,
body em,
body figcaption,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body hr,
body i,
body ins,
body kbd,
body label,
body legend,
body li,
body mark,
body ol,
body p,
body pre,
body u,
body ul,
body q,
body rp,
body rt,
body ruby,
body s,
body samp,
body small,
body strong,
body sub,
body sup,
body time,
body u,
body var,
body wbr{
	border: 1px solid var(--text-color);
}

/* Media elements */
body img,
body svg,
body video,
body audio, 
body canvas,
body picture,
body track{
	border: 1px solid var(--media-color);
}

/* Interactive elements */
body a,
body area,
body button, 
body datalist,
body input,
body optgroup,
body option,
body select,
body textarea{
	border: 1px solid var(--interactive-color);
}

/* Embedded content, new browsing content */
body iframe, 
body html, 
body embed, 
body fencedframe,
body object,
body portal {
	border: 1px solid var(--embedded-color);
}

/* Tables and table-related */
body caption,
body col,
body colgroup,
body table,
body tbody,
body td,
body tfoot,
body th,
body thead,
body tr {
	border: 1px solid var(--tables-color);
}

/* Deprecated */
body acronym,
body big,
body center,
body dir, 
body font,
body frame,
body frameset,
body marquee,
body nobr,
body noembed,
body noframes, 
body param,
body plaintext,
body rb,
body rtc,
body strike,
body tt,
body xmp{
	border-color: var(--deprecated-color);

}

/* Pseudo-elements */
body *::before,
body *::after,
body *::backdrop,
body *::cue,
body *::first-letter,
body *::file-selector-button,
body *::first-line,
body *::grammar-error,
body *::placeholder,
body *::target-text{
	border-color: var(--pesudoelements-color);
}

/* GUI Styles */
#extension-gui{
	position: fixed;
	bottom: 0.25rem;
	left: 0.25rem;
	z-index: 999999999999;
	background: black;
	cursor: move;
	padding: 0.25rem;
	border: none;
	max-height: fit-content;
}

#extension-gui *{
	border: none;
}

#extension-gui > div{
	display: flex;
	align-items: center;
	gap: 0.25rem;
}

#extension-gui > div > input{
	margin: 0;
	padding: 0;
}

#extension-gui > div > label{
	margin: 0;
	padding: 0;
	color: white;
	text-transform: none;
	font-family: monospace;
	font-size: .5rem;
	line-height: 1;
}

#extension-gui > div > input[type="color"]{
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border: none;
	cursor: pointer;
	background:transparent;
}

#extension-gui > div > input[type="color"]::-webkit-color-swatch{
	border-color: white;
	border-radius: 3px;
}

#extension-gui > div > input[type="color"]::-moz-color-swatch{
	border-color: white;
	border-radius: 50%;
}