body * {
	box-sizing: border-box;
}

body div, body span{
	border: 1px solid rgba(0 0 0 / .25);
}

body img,
body video,
body audio{
	border: 1px solid greenyellow;
}

body iframe, body html {
	border: 1px solid blue;
}

body *:before,
body *:after {
	border-color: orchid;
}